{% extends "layout.html" %}
{% block content %}
    
    <div class="calendar">
        <div class="stats">
            <h3>Total/New/Drops</h3>
        </div>
        <div class="month_container">
            <nav>
                <span id="prev" class="prev"></span>
                <span id="next" class="next"></span>
            </nav>
            <h2 class="month"></h2>
            <h3 class="year"></h3>
        </div>
        <div class="calendar_body">
            
        </div>
        <div class="day">
            
        </div>
    </div>
{% endblock content %}
