<!--
DATE 			TEAM MEMBER 	UPDATE
//		 		TFEITOSA		Created calendar.html file
10/05/2020 		NCROWN 			Updated to include revision table
10/07/2020     	TFEITOSA      	Worked on calendar interface
10/08/2020     TFEITOSA        	Worked on calendar interface

-->

{% extends "layout.html" %}
{% block content %}
    
        
<div id="calendar">
    
    <div class="stats">
    	<table class="statstable">
    		<tr>
    			<td><h1>Total</h1></td>
    			<td><h1>New</h1></td>
    			<td><h1>Drops</h1></td>
    		</tr>
    		<tr>
    			<td>{{ total_accounts }}</td>
    			<td>3</td>
    			<td>0</td>
    		</tr>
    	
    	</table>	
    </div>
    <form name="calendar_form" action="" method="POST">
		<table id="calendar_table" style="background:#c33;">
			<tr>
				<td></td>
				<td id="year">{{ year }}</td>
				<td></td>
			</tr>
			<tr>
				<td><input  id="left_arrow" type="submit" value="&lt" /></td>
				<td id="month">{{ month_name }}</td>
				<td><input id="right_arrow" type="submit" value="&gt" /></td>
			</tr>
			</td>
		</table>
		<table id="calendar_table">
			<thead>
				<tr>
					<th>Sun</th>
					<th>Mon</th>
					<th>Tue</th>
					<th>Wed</th>
					<th>Thu</th>
					<th>Fri</th>
					<th>Sat</th>
				</tr>	
			</thead>
			<tbody id="calendar_content">
				
				{% for r in range(6) %}
				<tr>
					{% for c in range(7) %}
						{% if r == 0 and c <= weekday %}
							<td><p></p></td>
						{% elif r == 0 and c >= weekday %}
							<td><p>{{ c - weekday }}</p></td>
						{% else %}
							{% if c + r * 7 - weekday <= days_in_month %}
							<td><p>{{ c + (r * 7) - weekday }}</p></td>
							{% endif %}
						{% endif %}
					{% endfor %}
				</tr>
				{% endfor %}
				
			</tbody>
		</table>
	</form>
</div>
	
<div id="day">
	<h1>Today   {{ day }}</h1>
	<table>
		{% for class in today_classes %}
			<tr>
				<td>{{ class[1] }}</td>
			</tr>
		{% endfor %}
		
	</table>
	<br>
	<h1>This Month</h1>
	<table>
		{% for class in all_classes %}
			<tr>
				<td>{{ class[1] }}</td>
			</tr>
		{% endfor %}
	</table>
</div>

        
        
{% endblock content %}
