<!--
DATE 			TEAM MEMBER 	UPDATE
10/06/2020 		NCROWN 			Created confirm.html file
10/07/2020 		NCROWN 			Updated confirm.html appearance
-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">   
  <title>Martial Arts Class Management</title>
</head>
<body>
<div>
<h3>Please confirm to continue</h3>


<form name="confirm" action="" method="POST">
	<table>
		<tr>
			{% if message %}
            <p>{{ message }}</p>
            {% endif %}
		</tr>
		<tr>
			<td></td>
			<td><input name="confirmbutton"  id="confirmbutton" type="submit" class="button" value="Yes" /></td>
			<td><input name="denybutton" id="denybutton" type="submit" class="button" value="No" /></td>
			<td></td>
		</tr>
  	</table>
</form>
<br>
{% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
{% endif %}
</div>
</body>
</html>