<!--
DATE 			TEAM MEMBER 	UPDATE
10/08/2020 		NCROWN 			Created listaccounts.html file
10/09/2020 		NCROWN 			Added javascript to prevent submission of blank selection
-->

{% extends "layout.html" %}
{% block content %}
<center>
<form name="list_accounts" action="" method="POST">
	<table>
		<caption  style="height:40px;">
			<span>Select an account to modify:</span>
		</caption>
		<tr>
			<td class="field"><SELECT name="account" id="account" onchange="inputCheck()">
			        <OPTION value=" "></OPTION>
				{% for a in accountList %}
					<OPTION value={{a.0}}>Name: {{a.1}} {{a.2}} &nbsp;&nbsp;&nbsp; DOB:{{a.3}} &nbsp;&nbsp;&nbsp; Phone: {{a.4}}</OPTION>
				{% endfor %}
			</SELECT></td>
			<script>
			function inputCheck(){
				var input = document.getElementById('account').value;
				if (input == " "){
					document.getElementById('submitbutton').disabled = true;
				} else {
					document.getElementById('submitbutton').disabled = false;
				}
			}
			</script>
			<td><input name="submitbutton" id="submitbutton" type="submit" class="button" value="Select account" disabled></td>
		</tr>
	</table>
</form>
<br>
{% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
{% endif %}
</center>
{% for message in get_flashed_messages() %}
	<center>
	    <p>{{ message }}</p>
	</center>
{% endfor %}		

{% endblock content %}