<!--
DATE 			TEAM MEMBER 	UPDATE
10/08/2020 		NCROWN 			Created listclasses.html file
10/09/2020 		NCROWN 			Added javascript to prevent submission of blank selection
10/10/2020 		TFEITOSA 		Added button handling for attendance
-->

{% extends "layout.html" %}
{% block content %}
<center>
<form name="list_classes" action="" method="POST">
	<table>
		<caption  style="height:40px;">
			<span>Select a class to modify:</span>
		</caption>
		<tr>
			<td class="field"><SELECT name="classes" id="classes" onchange="inputCheck()">
			        <OPTION value=" "></OPTION>
				{% for c in classList %}
					<OPTION value="{{c.0}}">Class name: {{c.1}} &nbsp;&nbsp;&nbsp; Date: {{c.2}} &nbsp;&nbsp;&nbsp; Start time: {{c.3}} &nbsp;&nbsp;&nbsp; End time: {{c.4}}</OPTION>
				{% endfor %}
			</SELECT></td>
			<script>
			function inputCheck(){
				var input = document.getElementById('classes').value;
				if (input == " "){
					document.getElementById('submitbutton').disabled = true;
					document.getElementById('attendance').disabled = true;
				} else {
					document.getElementById('submitbutton').disabled = false;
					document.getElementById('attendance').disabled = false;
				}
			}
			</script>
			<td><input name="submitbutton" id="submitbutton" type="submit" class="button" value="Modify class" disabled></td>
			<td><input name="attendance" id="attendance" type="submit" class="button" value="Take Attendance" disabled></td>
		</tr>
	</table>
</form>
<br>
{% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
{% endif %}
</center>
{% for message in get_flashed_messages() %}
	<center>
	    <p>{{ message }}</p>
	</center>
{% endfor %}	

{% endblock content %}
