<!--
DATE 			TEAM MEMBER 	UPDATE
09/29/2020 		NCROWN 			Created login.html file
-->
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="layout.css">   
  <title>Martial Arts Class Management</title>
</head>

<body OnLoad="document.loginform.formuser.focus();">
<div>
<h3>Welcome to the Martial Arts Class Management Portal</h3>

<form name="loginform" method="POST" action="">	
	<table border="1" width="51%" id="authtable">
		<tr>
			<td><img src="./belt.jpg" class="resize"></td>
			<td>
				<h4>Sign in with your account: </h4>
				<hr/>
				<table border="0" width="100%" cellpadding="0" id="authtableinner">			
					<tr>
						<td width="157">Username:</td>
						<td><input type="text" name="formuser" size="30" value="{{request.form.username }}"></td>
					</tr>
					<tr>
						<td width="157">Password:</td>
						<td><input type="password" name="formpass" size="30" value="{{request.form.password }}"></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><input type="submit" value="Sign In" name="signinbutton" class="button"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>					
</form>
{% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
{% endif %}
</div>
</body>
</html>
