<!--
DATE 			TEAM MEMBER 	UPDATE
10/08/2020 		NCROWN 			Created modifyaccount.html file
10/09/2020 		NCROWN 			Updated modifyaccount.html functionality
10/10/2020 		NCROWN 			Completed modifyaccount.html functionality
-->
{% extends "layout.html" %}
{% block content %}
<center>
<form name="modify_account" action="" method="POST">
	<table>
		<caption  style="height:40px;">
			<span>Modify Account</span>
		</caption>
		<tr>
			<td class="label"><p>First Name:</p></td>
			<td class="field"><input name="first_name" id="first_name" type="text" pattern="[A-Za-z]+" title="Only letters allowed" maxlength="15" required value="{{accountList.1}}"></td>
			<td class="label"><p>Instructor:</p></td>
			<td class="field"><input name="instructor" id="instructorCheckbox" type="checkbox" onclick="checkboxHandler()" {% if accountList.5 == 1 %} checked {% endif %} ></td>
			<script>
				function checkboxHandler() {
					 document.getElementById('usernameInput').disabled = !document.getElementById('instructorCheckbox').checked;
					 document.getElementById('passInput').disabled = !document.getElementById('instructorCheckbox').checked;
					 document.getElementById('pass2Input').disabled = !document.getElementById('instructorCheckbox').checked;
					 document.getElementById('usernameInput').required = document.getElementById('instructorCheckbox').checked;
					 document.getElementById('passInput').required = document.getElementById('instructorCheckbox').checked;
					 document.getElementById('pass2Input').required = document.getElementById('instructorCheckbox').checked;
				};
			</script>
		</tr>
		<tr>
			<td class="label"><p>Last Name:</p></td>
			<td class="field"><input name="last_name" id="last_name" type="text" pattern="[A-Za-z]+" title="Only letters allowed" maxlength="15" required value="{{accountList.2}}"></td>
			<td class="label"><p>Username:</p></td>
			<td class="field"><input name="username" id="usernameInput" type="text" pattern="[A-Za-z0-9]+" title="Only letters and numbers allowed" maxlength="20" value="{{accountList.12}}" {% if accountList.5 != 1 %} disabled {% endif %}></td>
		</tr>
		<tr>
			<td class="label"><p>Address:</p></td>
			<td class="field"><input name="address" id="address" type="text" pattern="[A-Za-z0-9. ]+" title="Only letters, numbers, and . allowed" maxlength="50" value="{{accountList.3}}"></td>
			<td class="label"><p>Password:</p></td>
			<td class="field"><input name="password" id="passInput" type="password" pattern="[A-Za-z0-9!@#$%^&*()]+" title="Only letters, numbers, and !@#$%^&*() allowed" disabled></td>
		</tr>
		<tr>
			<td class="label"><p>Phone:</p></td>
			<td class="field"><input name="phone" id="phone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890"title="Only numbers and - allowed" required value="{{accountList.4}}"></td>
			<td class="label"><p>Password Confirmation:</p></td>
			<td class="field"><input name="password2" id="pass2Input" type="password" pattern="[A-Za-z0-9!@#$%^&*()]+" title="Only letters, numbers, and !@#$%^&*() allowed" maxlength="30" disabled></td>
			<script>
				document.getElementById('pass2Input').addEventListener('input', function() {
    				var input = document.getElementById('passInput');
    				var input2 = document.getElementById('pass2Input');
					if (input.value != input2.value){
						document.getElementById('passwordmatching').textContent = "Passwords do not match";
						document.getElementById('submitbutton').disabled = true;
					} else {
						document.getElementById('passwordmatching').textContent = "";
						document.getElementById('submitbutton').disabled = false;
					}
				});
			</script>
		</tr>
		<tr>
			<td class="label"><p>Email:</p></td>
			<td class="field"><input name="email" id="email" type="email" maxlength="30" value="{{accountList.7}}"></td>
			<td></td>
			<td><p id="passwordmatching"></p></td>
		</tr>
		<tr>
			<td class="label"><p>Date of Birth:</p></td>
			<td class="field"><input name="birthday" id="birthday" type="date" required value="{{accountList.6}}"></td>
			<script>
				// Handles checking if over the age of 18
				document.getElementById('birthday').addEventListener('change', function() {
    				var input = this.valueAsDate;		
					var today = new Date();
					var offset = today.getTimezoneOffset();
					// Corrects input variable for correct date due to javascript wonkiness with UTC
					var correctedInput = new Date(input.getTime() + offset*60000);
					var age = today.getFullYear() - correctedInput.getFullYear();
					// Date comparisons for age
					if (age == 18) {
						if (today.getMonth() < correctedInput.getMonth()) {
							age--;
						} else if (today.getMonth() == correctedInput.getMonth()) {
							if (today.getDate() < correctedInput.getDate()) {
								age--;
							}
						}
					}
					// Code to disable parent input
					if (age < 18) {
						document.getElementById('parent').disabled = false;
						document.getElementById('parent').required = true;
					} else {
						document.getElementById('parent').disabled = true;
						document.getElementById('parent').required = false;
					}
						
				});
			</script>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="label"><p>Parent:</p></td>
			<td class="field"><input name="parent" id="parent" type="text" pattern="[A-Za-z ]+" title="Only letters allowed" maxlength="30" {% if accountList.8|length %}{% else %} disabled {% endif %} value="{{accountList.8}}"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="label"><p>Notes:</p></td>
			<td class="field"><input name="notes" id="notes" type="text" pattern="[A-Za-z0-9!@#$%^&*() ]+" title="Only letters, numbers, and !@#$%^&*() allowed" maxlength="200" value="{{accountList.11}}"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="label"><p>Belt:</p></td>
			<td class="field"><SELECT name="belt" id="belt">
				{% for b in beltList %}
					<OPTION value={{b.0}} {% if b.0 == accountList.9 %} selected {% endif %}>{{b.1}}</OPTION>
				{% endfor %}
			</SELECT></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="label"><p>User Active:</p></td>
			<td class="field"><input name="userstatus" id="statusCheckbox" type="checkbox" {% if accountList.10 == 1 %} checked {% endif %}></td>
			{% if accountList.5 == 1 %}
			<td class="label"><p>Change password:</p></td>
			<td class="field"><input name="pwchange" id="pwchange" type="checkbox" onclick="checkboxHandler2()"></td>
			<script>
				function checkboxHandler2() {
					 document.getElementById('passInput').disabled = !document.getElementById('pwchange').checked;
					 document.getElementById('pass2Input').disabled = !document.getElementById('pwchange').checked;
					 document.getElementById('passInput').required = document.getElementById('pwchange').checked;
					 document.getElementById('pass2Input').required = document.getElementById('pwchange').checked;
				};
			</script>
			{% else %}
			<td></td>
			<td></td>	
			{% endif %}
		</tr>
		<tr>
			<td></td>
			<td><input name="accountdeletebutton" id="accountdeletebutton" type="submit" class="button" value="Delete account" /></td>
			<td><input name="accountsubmitbutton" id="accountsubmitbutton" type="submit" class="button" value="Modify account" /></td>
			<td></td>
			
		</tr>
  	</table>
</form>
<br>
{% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
{% endif %}
</center>
{% for message in get_flashed_messages() %}
	<center>
	    <p>{{ message }}</p>
	</center>
{% endfor %}		
{% endblock content %}