<!--
DATE 			TEAM MEMBER 	UPDATE
//		 		TFEITOSA		Created layout.html file
10/05/2020 		NCROWN 			Updated to include revision table
10/08/2020 		NCROWN 			Added maxlength attribute to class name box, removed attedance based fields, changed time to dropdown, added javascript to handle time, added error handling for input fields and submit button, added mapping to modify accounts and classes

-->

{% extends "layout.html" %}
{% block content %}
<center>
<form name="new_class" action="" method="POST">
	<table>
		 <caption  style="height:40px;">
			 <span>New Class</span>
		 </caption>
		 <tr>
		 	 <td class="label"><p>Class Name</p></td>
			 <td class="field"><input name="class_name" type="text" maxlength="50" required></td>
		</tr>
		 <tr>
			 <td class="label"><p>Date:</p></td>
			 <td class="field"><input name="date" type="date" required></td>
		 </tr>
		 <tr>
			 <td class="label"><p>Starting Time:</p></td>
			 <td class="field"><SELECT name="starthour" id="starthour" class="time" onchange="timeComparer()">
				{% for h in hourList %}
					<OPTION value="{{h}}">{{h}}</OPTION>
				{% endfor %}
			</SELECT>
			<SELECT name="startminute" id="startminute" class="time" onchange="timeComparer()">
				{% for m in minuteList %}
					<OPTION value="{{m}}">{{m}}</OPTION>
				{% endfor %}
			</SELECT></td>
		 </tr>
		 <tr>
			 <td class="label"><p>Ending Time:</p></td>
			 <td class="field"><SELECT name="endhour" id="endhour" class="time" onchange="timeComparer()">
				{% for h in hourList %}
					<OPTION value="{{h}}">{{h}}</OPTION>
				{% endfor %}
			</SELECT>
			<SELECT name="endminute" id="endminute" class="time" onchange="timeComparer()">
				{% for m in minuteList %}
					<OPTION value="{{m}}">{{m}}</OPTION>
				{% endfor %}
			</SELECT></td>
			<script>
				function timeComparer(){
					var input1 = parseInt(document.getElementById('starthour').value, 10);
    				var input2 = parseInt(document.getElementById('startminute').value, 10);
    				var input3 = parseInt(document.getElementById('endhour').value, 10);
    				var input4 = parseInt(document.getElementById('endminute').value, 10);
					if (input1 > input3){
						document.getElementById('timecompare').textContent = "Start time before end time.";
						document.getElementById('submitbutton').disabled = true;
					} else {
						if ((input2 > input4) && (input1 == input3)){
							document.getElementById('timecompare').textContent = "Start time before end time.";
							document.getElementById('submitbutton').disabled = true;
						} else {
							if ((input2 == input4) && (input1 == input3)){
								document.getElementById('timecompare').textContent = "Start time must be different from end time.";
								document.getElementById('submitbutton').disabled = true;
							} else {
								document.getElementById('timecompare').textContent = "";
								document.getElementById('submitbutton').disabled = false;
							}
						}
					}
				}
			</script>
		 </tr>
		<tr>
			<td><input onclick="this.form.reset()" type="button" class="button" value="Clear" /></td>
			<td><input type="submit" id="submitbutton" class="button" value="Create" disabled/></td>
		</tr>
  	</table>
</form>
<br>
<p id="timecompare"></p>


{% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
{% endif %}
</center>
{% for message in get_flashed_messages() %}
	<center>
	    <p>{{ message }}</p>
	</center>
{% endfor %}
		
{% endblock content %}