.calendar {
	background: #fff;
  border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  overflow: hidden;
}
.calendar:before,.calendar:after  {
	content: '';
	width: 99%;
	height: 50%;
	position: absolute;
	background: #f6f6f6;
	bottom: -4px;
	left: 0.5%;
	z-index: -1;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.calendar:after {
	content: '';
	width: 98%;
	bottom: -7px;
	left: 1%;
	z-index: -2;
}
.month_container {
	background: #ef4f69;
	padding: 5px 10px 10px 20px;
	height: 70px;
	position: relative;
	border-top: 5px solid #ef4f69;
	border-bottom: 1px solid #ddd;
}
.month_container h2,.month_container h3 {
	text-align: center;
	text-transform: uppercase;
}
.month_container h2 {
	color: #FFF;
	font-weight: 700;
	font-size: 18px;
	margin-top: 10px;
}
.month_container h3 {
	font-size: 10px;
	font-weight: 700;
	color: #FFF;
}
.month_container nav span {
	position: absolute;
	top: 17px;
	width: 30px;
	height: 30px;
	color: transparent;
	cursor: pointer;
	margin: 0 1px;
	font-size: 20px;
	line-height: 30px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.month_container nav span:first-child {	left: 5px;}
.month_container nav span:last-child {	right: 5px;}
.month_container nav span:before {
	font-family: 'fontawesome-selected';
	color: #FFF;
	position: absolute;
	text-align: center;
	width: 100%;
}
.month_container nav span.prev:before {	content: '\25c2';}
.month_container nav span.next:before {	content: '\25b8';}
.month_container nav span:hover:before {	color: #495468;}

.calendar_body {
	height: 400px;
	width: auto;
	padding: 30px;
	background: #f6f6f6;
	box-shadow: inset 0 1px rgba(255,255,255,0.8);
}
