/*
DATE 			TEAM MEMBER    	UPDATE
//				TFEITOSA 		Created style.css
09/29/2020    	NCROWN         	Updated to include revision table
10/10/2020		TFEITOSA 		Formatted Layout, menu, calendar

*/

body {
	font-family: Helvetica;
}

.container {
	width: 90%;
	min-width: 900px;
	margin-right: auto;
	margin-left: auto;
	min-height: 720px;
	overflow: visible;
	padding-bottom: 24px;
	background: #fff;
}

/* Menu Styles */

.menu {
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	background: #000;
	margin-bottom: 30px;

}

 /* Dropdown Button */
.dropbtn {
  	background-color: #c33;
  	color: white;
	width: 120px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-left: 12px;
  	font-size: 18px;
  	
}

.dropbtn a {
	color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  	position: relative;
  	display: inline-block;
	height: 58px;
	
}

.logo {
	position: relative;
	
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a, input, img {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #000;} 

/* Content */
/*
.content {
    width: 80%;
    margin: 0 auto;
} 
*/

/* General Tables */
/*


th {
    border: 1px solid black;
}

.label {
    text-align: right;
    width: 120px;
}

.field {
    width: 300px;
}

.field input {
    width: 300px;
}
*/
#day {
	min-height: 560px;
	background: #faa;
	padding-left: 30px;
	padding-right: 60px;
	position: relative;
	float: right;
	resize:both;
    overflow:auto;
	
}

#calendar {
	width: 70%;
	float: left;
	min-height: 560px;
	background: #ccc;
	position: relative;

}

.statstable {
	width: 100%;
	margin: 0 auto;
	
}

.stats {
	text-align: center;
	padding-bottom: 10px;
}


#calendar_table {
	width: 100%;
	
}

#calendar_table td {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#year {
	
	font-size: 2em;
}

#month {
	font-size: 3em;
}

#left_arrow {
	margin: auto;
	display:block;
}
#right_arrow {
	margin: auto;
	display:block;
}

#calendar_content {
	text-align: center;
}

#calendar_content td {
	
	margin: 0 auto;	
}



